@font-face {
    font-family: StratosSkyeng;
    src: url(assets/fonts/stratosskyengweb-light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: StratosSkyeng;
    src: url(assets/fonts/stratosskyengweb-regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}
@font-face{
    font-family: StratosSkyeng;
    src: url(assets/fonts/stratosskyengweb-bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display:fallback;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: StratosSkyeng, 'Helvetica Neue', sans-serif;
}

:root {
    --section-background-color: #D5E052;
    --game1-color: #D3E03D;
    --game1-background-color: #69E0DB;
    --game2-color: #983DE0;
    --game2-background-color: #E07D48;
    --title-color: #fffff0;
    --rock: rgb(185, 179, 179);
    --scissors: rgb(211, 24, 24);
}

.game-field {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--section-background-color);
}

.round-number {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.round-number p {
    background-color: var(--section-background-color);
    border: 1px solid #000;
    border-radius: 7px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
    font-size: 50px;
    padding: 10px 20px;
    transition: opacity 6s, visibility 6s linear 6s;
}

h2 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}

.gamer1, .gamer2 {
    padding: 15px;
    height: 100vh;
    flex-grow: 1;
}

.content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.gamer1 {
    margin-right: 10px;
    color: var(--game1-color);
    background-color: var(--game1-background-color);
}

.gamer2 {
    color: var(--game2-color);
    background-color: var(--game2-background-color);
}

.gamer1 .content-wrapper {
    animation-iteration-count: 1;
    animation-duration: 4.5s;
    animation-name: slideRight1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

@keyframes slideRight1 {
    0% {
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(8%);
    }
    65%{
        transform: translateX(-4%);
    }
    80%{
        transform: translateX(4%);
    }
    95%{
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideRight1 {
    0% {
        -webkit-transform: translateX(-150%);
    }
    50%{
        -webkit-transform: translateX(8%);
    }
    65%{
        -webkit-transform: translateX(-4%);
    }
    80%{
        -webkit-transform: translateX(4%);
    }
    95%{
        -webkit-transform: translateX(-2%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

.gamer2 .content-wrapper {
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft1;

    animation-duration: 5s;
    -webkit-animation-duration: 5s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}

@keyframes slideLeft1 {
    0% {
        transform: translateX(150%);
    }
    50%{
        transform: translateX(-8%);
    }
    65%{
        transform: translateX(4%);
    }
    80%{
        transform: translateX(-4%);
    }
    95%{
        transform: translateX(2%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideLeft1 {
    0% {
        -webkit-transform: translateX(150%);
    }
    50%{
        -webkit-transform: translateX(-8%);
    }
    65%{
        -webkit-transform: translateX(4%);
    }
    80%{
        -webkit-transform: translateX(-4%);
    }
    95%{
        -webkit-transform: translateX(2%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

.choice-wrapper {
    width: 440px;
    height: 440px;
    padding: 0;
    position: relative;
}

.scissors, .paper, .rock {
    width: 440px;
    height: 440px;
    background-size: contain;
    background-repeat: no-repeat;
}

.scissors {
    background-image: url("assets/img/scissors.jpg");
}

.paper {
    background-image: url("assets/img/paper.jpg");
}

.rock {
    background-image: url("assets/img/rock.jpg");
}

.result {
    position: absolute;
    height: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500px;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
    opacity: 0;
    transition: opacity 100ms ease-out;
}

.oblique-cross {
    color: #cb2821;
    animation: pulsing 3.5s infinite;
}

.green-tick {
    color: #00FF00;
    animation: pulsing 3.2s infinite;
}

@-webkit-keyframes pulsing {
    0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.8, 0.9)
    }
    50% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
    }
    100% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.8, 0.9);
    }
}

@keyframes pulsing {
    0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.8, 0.9)
    }
    50% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
    }
    100% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.8, 0.9);
    }
}

.round-result-field {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.round-result-wrapper {
    position: relative;
    width: 450px;
    height: 300px;
}

.round-result-window {
    position: absolute;
    padding: 20px 20px 30px 50px;
    z-index: 10;
}

.result-declaration {
    font-size: 25px;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}

.comment {
    color: var(--game1-background-color);
}

.statistic {
    color: var(--game2-background-color);
}

.offer {
    color: var(--game2-color);
}

.btns-block {
    margin-top: 10px;
    text-align: right;
    padding-right: 20px;
}

.button {
    margin-right: 15px;
    width: 75px;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 20px;
    color: #fff;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.ok-button {
    background-color: #228B22;
    border: 1px solid #228B22;
}

.no-button {
    background-color: #cb2821;
    border: 1px solid #cb2821;
}

.round-result-frame {
    width: 450px;
    height: 300px;
    perspective: 200px;
    position: relative;
    z-index: 0;
}

.round-result-frame::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border: 1px solid; border-radius: 20px;
    background-color: var(--section-background-color);
    outline: 1px solid transparent;
    transform: rotate3D(1.5, 1, 0, -9deg) skewX(6deg) translateX(-15px);
}

.fadeIn{
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;

    animation-duration: 2s;
    -webkit-animation-duration: 2s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    60% {
        -webkit-transform: scale(1.1);
    }
    80% {
        -webkit-transform: scale(0.9);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

.bigEntrance{
    animation-name: bigEntrance;
    -webkit-animation-name: bigEntrance;

    animation-duration: 2s;
    -webkit-animation-duration: 2s;

    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;

    visibility: visible !important;
}

@keyframes bigEntrance {
    0% {
        transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
        opacity: 0.2;
    }
    30% {
        transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
        opacity: 1;
    }
    45% {
        transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    60% {
        transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    75% {
        transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    90% {
        transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
}

@-webkit-keyframes bigEntrance {
    0% {
        -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
        opacity: 0.2;
    }
    30% {
        -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
        opacity: 1;
    }
    45% {
        -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    60% {
        -webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    75% {
        -webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    90% {
        -webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
}

.invisible {
    opacity: 0;
    visibility: hidden;
}


/***************Экран Авторизации*******************************/
.header_login {
    background: var(--section-background-color);
}
.title {
    font-weight: 700;
    font-size: 50px;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.title-image {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.rock-image {
    background-image: url('assets/img/rock.jpg');
    width: 200px;
    height: 200px;
    background-size: contain;
    cursor: pointer;
    animation: opacityRock 3s 1s 1 backwards;
}
@keyframes opacityRock {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.scissors-image {
    background-image: url('assets/img/scissors.jpg');
    width: 200px;
    height: 200px;
    background-size: contain;
    cursor: pointer;
    animation: opacityScissors 3s 1.5s 1 backwards;
}
@keyframes opacityScissors {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.paper-image {
    background-image: url('assets/img/paper.jpg');
    width: 200px;
    height: 200px;
    background-size: contain;
    cursor: pointer;
    animation: opacityPaper 3s 2s 1 backwards;
}
@keyframes opacityPaper {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.rock-text {
    margin-right: 20px;
    color: var(--rock);
    animation: opacityRock 2s 1s 1 backwards;
}
.scissors-text {
    margin-right: 20px;
    color: var(--scissors);
    animation: opacityRock 2s 1.5s 1 backwards;
}
.paper-text {
    margin-right: 20px;
    color: var(--title-color);
    animation: opacityRock 2s 2s 1 backwards;
}
.container {
    max-width: 700px;
    height: 100vh;
    margin: 0 auto;
    background: var(--game2-background-color);
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    height: auto;
    min-height: 50px;
}
.login-input {
    margin-bottom: 20px;
    border: 2px solid var(--section-background-color);
    border-radius: 10px;
    background: var(--title-color);
    color: var(--game2-color);
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    animation-name: slideRightImage;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}
@keyframes slideRightImage {
    from {
        margin-right: -750%;
        margin-left: 700%;
    }

    to {
        margin-left: 0;
    }
}
.login-input:hover {
    background: white;
}
::-webkit-input-placeholder {
    text-align: center;
    color: var(--game2-color);
    font-family: StratosSkyeng, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
}
.login-button {
    font-family: StratosSkyeng, Arial, sans-serif;
    font-size: 25px;
    align-items: center;
    border: 2px solid var(--section-background-color);
    border-radius: 10px;
    background: var(--game2-color);
    color: var(--title-color);
    transition: background-color 300ms;
    cursor: pointer;
    animation-name: pulsarButton, slideLeftImage;
    animation-duration: 1.5s, 1s;
    animation-delay: 3s, 0s;
    animation-iteration-count: infinite, 1;
    animation-fill-mode: forwards, backwards;
}
@keyframes pulsarButton {
    0% {
        font-size: 20px;
        border: 2px solid var(--section-background-color);
    }

    100% {
        font-size: 25px;
        border: 4px solid rgb(203, 255, 14);
    }
}
@keyframes slideLeftImage {
    from {
        margin-left: -750%;
        margin-right: 700%;
    }

    to {
        margin-left: 0;
    }
}

.login-button:hover {
    background: #aa75d6;
    color: #e0e0ce;
}
@media (max-width: 480px) and (orientation: landscape) {
    .title {
        font-weight: 700;
        font-size: 50px;
    }
    .rock-image {
        width: 120px;
    }
    .scissors-image {
        width: 120px;
    }
    .paper-image {
        width: 120px;
    }
}
@media (max-width: 480px) and (orientation: portrait) {
    .title {
        font-weight: 700;
        font-size: 50px;
        display: flex;
        flex-direction: column;
    }
    .rock-image {
        background-image: url('assets/img/rock.jpg');
        width: 120px;
    }
    .scissors-image {
        background-image: url('assets/img/scissors.jpg');
        width: 120px;
    }
    .paper-image {
        background-image: url('assets/img/paper.jpg');
        width: 120px;
    }
}

/***************Экран Error*******************************/
.error-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--game2-background-color);
    width: 100%;
    height: 100vh;
}

.error-rock {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.error-message {
    color: #fff;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.error-button {
    display: block;
    width: 555px;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 20px;
    color: #fff;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: #228B22;
    border: 1px solid #228B22;
}

/***************Экран Лобби*******************************/

.wrapper {
    background-color: goldenrod;
    height: 100vh;
}
h1 {
    color: black;
    text-align: center;
}
.header {
    color: aquamarine;
    max-width: 1200px;
    margin: 0 auto;
    height: 60px;
    text-align: center;
}
.columnHeaders {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.columnHeader2, .columnHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    width: 50%;
    text-align: center;
}
audio {
    display: none;
}
.yourself {
    height: 300px;
    float: left;
    width: 45%;
    display: flex;
    padding: 0 0 0 10px;
}
.opponents {
    overflow: scroll;
    width: 50%;
    display: flex;
    flex-direction: column;
    float: right;
    height: 500px;
    justify-content: flex-start;
}
.avatar {
    height: 100%;
    width: 30%;
}
.opponent {
    width: 300px;
    height: 300px;
    padding: 0 0 0 0;
}
.popUp {
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 15px;
    border: 3px solid #0000CC;
    border-radius: 10px;
    color: #0000CC;
    background-color: white;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.main_opponent_profile-block {
    margin-top: 15px;
    width: 350px;
    border: 2px solid;
    border-radius: 15px;
    background: antiquewhite;
}
.main_opponent_profile-block-header {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.opponent_profile-avatar {
    max-width: 75px;
    max-height: 75px;
    border-radius: 25px;
}
.opponent_profile-name {
    color: #983DE0;
}
.opponent_profile_statistics-block {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.win {
    color: seagreen;
}
.loose {
    color: red;
}
.draw {
    color: yellow;
}
.statistics-header {
    align-self: center;
    margin-bottom: 20px;
    color: #E07D48;
}
.statistic-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main_yourself_profile-block {
    width: 350px;
    border: 2px solid;
    border-radius: 15px;
    background: antiquewhite;
}
.main_yourself_profile-block-header {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.yourself_profile-avatar {
    max-width: 75px;
    max-height: 75px;
    border-radius: 25px;
}
.yourself_profile-name {
    color: #983DE0;
}
.yourself_profile_statistics-block {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.popup_opponent_profile-block {
    margin: 27px -23px 11px -18px;
    padding: 0 0 0 0;
    width: 350px;
    border: 2px solid;
    border-radius: 15px;
    background: antiquewhite;
    align-content: center;
    float: right;
}
.announce {
    font-family: StratosSkyeng, 'Helvetica Neue', sans-serif;
    font-size: medium;
}
.accept {
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-family: StratosSkyeng, 'Helvetica Neue', sans-serif;
}
.deny {
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-family: StratosSkyeng, 'Helvetica Neue', sans-serif;
}
.createGame {
    display: flex;
    justify-content: center;
}
.create {
    color: darkgoldenrod;
    border-radius: 5px;
    width: 200px;
    height: 70px;
    font-family: StratosSkyeng, 'Helvetica Neue', sans-serif;
    font-size: 1em;
}
.availableGame {
    display: flex;
    flex-direction: row;
}
.enterButton {
    margin: 0 0 0 120px;
    border-radius: 5px;
    width: 110px;
    height: 50px;
    font-family: StratosSkyeng, 'Helvetica Neue', sans-serif;
    color: darkgoldenrod;
    font-size: 1em;
    float: left;
}
.popUpWaitingScreen {
    margin: 20% 0 0 40%;
    display: compact;
    position: absolute;
}
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
}
.loader {
    color: #FFFFFF;
    font-size: 11px;
    text-indent: -99999em;
    margin: 55px auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader:before,
.loader:after {
    position: absolute;
    content: '';
}
.loader:before {
    width: 5.2em;
    height: 10.2em;
    background: #0DC5C1;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.1em 5.1em;
    transform-origin: 5.1em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
}
.loader:after {
    width: 5.2em;
    height: 10.2em;
    background: #0DC5C1;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 4.9em;
    -webkit-transform-origin: 0.1em 5.1em;
    transform-origin: 0.1em 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.display-none.display-none {
    display: none;
}
.opacity.opacity {
    opacity: 1;
}
/* "Экран ожидания игрока" */
.text-style {
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.standBy_container {
    height: 100%;
    font-family: StratosSkyeng, "Helvetica Neue", sans-serif;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    background: sandybrown;
}
.header_text {
    color: white;
}
.undercard_text {
    color: chartreuse;
    margin: 20px 0 30px 0;
}
.standBy_main_opponent_profile-block {
    margin: 70px 10px 20px 10px;
    width: 600px;
    border: 2px solid;
    border-radius: 15px;
    background: antiquewhite;
}
.opponent_profile-avatar {
    max-width: 75px;
    max-height: 75px;
    border-radius: 25px;
}
.undercard {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back_button_box-button {
    color: white;
    height: 50px;
    background: brown;
    border-radius: 40px;
    display: flex;
    align-items: center;
    margin: 50px 0px 00px 10px;
    padding-right: 10px;
}
.standBy_lds-hourglass {
    display: flex;
    align-items: center;
    justify-content: center;
}
.standBy_lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 8px;
    box-sizing: border-box;
    border: 15px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: standBy_lds-hourglass 1.8s infinite;
}
@keyframes standBy_lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

/* waitScreen */
.hidden.hidden {
    display: none;
  }

  /* header */
  .header-waitscreen {
    background-color: #e07d48;
  }
  .header-waitscreen__navi {
    max-width: 1200px;
    margin: 0 auto;
  }

  .header-waitscreen__navibar-item {
    background-color: #d3e03d;
    border-radius: 15px;
    border: 1px solid #983de0;
    padding: 0 10px;
    margin: 15px 0;
    min-width: 140px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    color: #983de0;
    cursor: pointer;
  }
  .header-waitscreen__navibar-item:hover {
    color: #d3e03d;
    background-color: #983de0;
  }
  .header-waitscreen__navibar-item:focus {
    color: #d3e03d;
    background-color: #983de0;
  }

  /* main-content */
  .main-waitscreen {
    background: linear-gradient(to right, #69e0db 50%, #983de0);
  }
  /* choicescreen */
  .main-waitscreen__choicescreen-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 66px;
    text-align: center;
    text-shadow: -1px -1px 1px silver, 1px -1px 1px silver;
    color: #983de0;
  }
  .main-waitscreen__choicescreen-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 20px auto;
  }
  .choice-button {
    background-color: transparent;
    outline: none;
    border: none;
  }
  .choice-image {
    border-radius: 30%;
    width: 250px;
    height: 250px;
    object-fit: contain;
    cursor: pointer;
    animation: bouncing 1s cubic-bezier(0.1, 0.25, 0.1, 1) 0s infinite alternate
      both;
  }
  .choice-image:hover {
    transform: scale(1.2);
  }
  @keyframes bouncing {
    0% {
      bottom: 0;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    100% {
      bottom: 50px;
      box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
    }
  }

  /* waitscreen */

  .main-waitscreen__versus-image {
    width: 250px;
    height: 250px;
    object-fit: contain;
  }

  .main-waitscreen__gameprocess-container {
    max-width: 1200px;
    height: calc(100vh - 150px);
    display: flex;
    margin: 0 auto;
  }
  .main-waitscreen__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 66px;
    text-align: center;
    text-shadow: -1px -1px 1px silver, 1px -1px 1px silver;
    color: #983de0;
  }

  .main-waitscreen__gameprocess-waiting-another-player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 520px;
  }

  .main-waitscreen__gameprocess-playerzone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 520px;
  }
  .main-waitscreen__gameprocess-choiceimage-rock,
  .main-waitscreen__gameprocess-choiceimage-paper,
  .main-waitscreen__gameprocess-choiceimage-scissors {
    align-self: center;
    width: 400px;
    height: 400px;
  }
  .main-waitscreen__gif {
    width: 60px;
    height: 40px;
    border-radius: 40px;
  }
  .lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 70px;
    margin-top: 40px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }

  .main-waitscreen__gameprocess-text {
    margin-top: 40%;
    text-align: center;
    justify-self: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.3px;
    color: aquamarine;
  }
  .main-waitscreen__gameprocess-userinfo {
    display: flex;
    gap: 20px;
  }

  .main-waitscreen__gameprocess-username,
  .main-waitscreen__gameprocess-statistic {
    font-size: 25px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.3px;
  }

  .main-waitscreen__gameprocess-username {
    margin-top: 14px;

    text-shadow: -1px -1px 1px silver, 1px -1px 1px silver;
    color: #983de0;
  }

  .main-waitscreen__gameprocess-statistic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    color: #ff0000;

    margin-top: 15px;
  }
  .main-waitscreen__gameprocess-avatar {
    width: 80px;
    height: 80px;
    border: 10px solid #e07d48;
    border-radius: 50%;
  }
