@font-face {
    font-family: StratosSkyeng;
    src: url(layout/assets/fonts/stratosskyengweb-light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: StratosSkyeng;
    src: url(layout/assets/fonts/stratosskyengweb-regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}
@font-face{
    font-family: StratosSkyeng;
    src: url(layout/assets/fonts/stratosskyengweb-bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display:fallback;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: StratosSkyeng, 'Helvetica Neue', sans-serif;
}

:root {
    --section-background-color: #D5E052;
    --game1-color: #D3E03D;
    --game1-background-color: #69E0DB;
    --game2-color: #983DE0;
    --game2-background-color: #E07D48;
    --title-color: #fffff0;
    --rock: rgb(185, 179, 179);
    --scissors: rgb(211, 24, 24);
}

.game-field {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--section-background-color);
}

.round-number {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.round-number p {
    background-color: var(--section-background-color);
    border: 1px solid #000;
    border-radius: 7px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
    font-size: 50px;
    padding: 10px 20px;
    transition: opacity 6s, visibility 6s linear 6s;
}

h2 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}

.gamer1, .gamer2 {
    padding: 15px;
    height: 100vh;
    flex-grow: 1;
}

.content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.gamer1 {
    margin-right: 10px;
    color: var(--game1-color);
    background-color: var(--game1-background-color);
}

.gamer2 {
    color: var(--game2-color);
    background-color: var(--game2-background-color);
}

.gamer1 .content-wrapper {
    animation-iteration-count: 1;
    animation-duration: 4.5s;
    animation-name: slideRight;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

@keyframes slideRight {
    0% {
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(8%);
    }
    65%{
        transform: translateX(-4%);
    }
    80%{
        transform: translateX(4%);
    }
    95%{
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-150%);
    }
    50%{
        -webkit-transform: translateX(8%);
    }
    65%{
        -webkit-transform: translateX(-4%);
    }
    80%{
        -webkit-transform: translateX(4%);
    }
    95%{
        -webkit-transform: translateX(-2%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

.gamer2 .content-wrapper {
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;

    animation-duration: 5s;
    -webkit-animation-duration: 5s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}

@keyframes slideLeft {
    0% {
        transform: translateX(150%);
    }
    50%{
        transform: translateX(-8%);
    }
    65%{
        transform: translateX(4%);
    }
    80%{
        transform: translateX(-4%);
    }
    95%{
        transform: translateX(2%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(150%);
    }
    50%{
        -webkit-transform: translateX(-8%);
    }
    65%{
        -webkit-transform: translateX(4%);
    }
    80%{
        -webkit-transform: translateX(-4%);
    }
    95%{
        -webkit-transform: translateX(2%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

.choice-wrapper {
    width: 440px;
    height: 440px;
    padding: 0;
    position: relative;
}

.scissors, .paper, .rock, .oblique-cross {
    width: 440px;
    height: 440px;
    background-size: contain;
    background-repeat: no-repeat;
}

.scissors {
    background-image: url("layout/assets/img/scissors.jpg");
}

.paper {
    background-image: url("layout/assets/img/paper.jpg");
}

.rock {
    background-image: url("layout/assets/img/rock.jpg");
}

.result {
    position: absolute;
    height: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500px;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}

.oblique-cross {
    color: #cb2821;
    animation: pulsing 3.5s infinite;
}

.green-tick {
    color: #00FF00;
    animation: pulsing 3.2s infinite;
}

@-webkit-keyframes pulsing {
    0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.8, 0.9)
    }
    50% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
    }
    100% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.8, 0.9);
    }
}

@keyframes pulsing {
    0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.8, 0.9)
    }
    50% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
    }
    100% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.8, 0.9);
    }
}

.round-result-field {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.round-result-wrapper {
    position: relative;
    width: 450px;
    height: 300px;
}

.round-result-window {
    position: absolute;
    padding: 20px 20px 30px 50px;
    z-index: 10;
}

.result-declaration {
    font-size: 25px;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}

.comment {
    color: var(--game1-background-color);
}

.statistic {
    color: var(--game2-background-color);
}

.offer {
    color: var(--game2-color);
}

.btns-block {
    margin-top: 10px;
    text-align: right;
    padding-right: 20px;
}

button {
    margin-right: 15px;
    width: 75px;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 20px;
    color: #fff;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.ok-button {
    background-color: #228B22;
    border: 1px solid #228B22;
}

.no-button {
    background-color: #cb2821;
    border: 1px solid #cb2821;
}

.round-result-frame {
    width: 450px;
    height: 300px;
    perspective: 200px;
    position: relative;
    z-index: 0;
}

.round-result-frame::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border: 1px solid; border-radius: 20px;
    background-color: var(--section-background-color);
    outline: 1px solid transparent;
    transform: rotate3D(1.5, 1, 0, -9deg) skewX(6deg) translateX(-15px);
}

.fadeIn{
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;

    animation-duration: 2s;
    -webkit-animation-duration: 2s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    60% {
        -webkit-transform: scale(1.1);
    }
    80% {
        -webkit-transform: scale(0.9);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

.bigEntrance{
    animation-name: bigEntrance;
    -webkit-animation-name: bigEntrance;

    animation-duration: 2s;
    -webkit-animation-duration: 2s;

    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;

    visibility: visible !important;
}

@keyframes bigEntrance {
    0% {
        transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
        opacity: 0.2;
    }
    30% {
        transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
        opacity: 1;
    }
    45% {
        transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    60% {
        transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    75% {
        transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    90% {
        transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
}

@-webkit-keyframes bigEntrance {
    0% {
        -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
        opacity: 0.2;
    }
    30% {
        -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
        opacity: 1;
    }
    45% {
        -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    60% {
        -webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    75% {
        -webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    90% {
        -webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
}

.invisible {
    opacity: 0;
    visibility: hidden;
}

.display-none {
    display: none;
}

/***************Экран Авторизации*******************************/
.header {
    background: var(--section-background-color);
}
.title {
    font-weight: 700;
    font-size: 50px;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.title-image {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.rock-image {
    background-image: url('./layout/assets/img/rock.jpg');
    width: 200px;
    height: 200px;
    background-size: contain;
    cursor: pointer;
    animation: opacityRock 5s 1s 1 backwards;
}
@keyframes opacityRock {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.scissors-image {
    background-image: url('./layout/assets/img/scissors.jpg');
    width: 200px;
    height: 200px;
    background-size: contain;
    cursor: pointer;
    animation: opacityScissors 5s 1.5s 1 backwards;
}
@keyframes opacityScissors {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.paper-image {
    background-image: url('./layout/assets/img/paper.jpg');
    width: 200px;
    height: 200px;
    background-size: contain;
    cursor: pointer;
    animation: opacityPaper 5s 2s 1 backwards;
}
@keyframes opacityPaper {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.rock-text {
    margin-right: 10px;
    color: var(--rock);
    animation: opacityRock 2s 1s 1 backwards;
}
.scissors-text {
    margin-right: 10px;
    color: var(--scissors);
    animation: opacityRock 2s 1.5s 1 backwards;
}
.paper-text {
    margin-right: 10px;
    color: var(--title-color);
    animation: opacityRock 2s 2s 1 backwards;
}
.container {
    max-width: 700px;
    height: 100vh;
    margin: 0 auto;
    background: var(--game2-background-color);
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    height: auto;
    min-height: 50px;
}
.login-input {
    margin-bottom: 20px;
    border: 2px solid var(--section-background-color);
    border-radius: 10px;
    background: var(--title-color);
    color: var(--game2-color);
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    animation: slideRight 500ms 0s 1 backwards;
}
@keyframes slideRight {
    from {
        margin-right: -750%;
        margin-left: 700%;
    }

    to {
        margin-left: 0;
    }
}
.login-input:hover {
    background: white;
}
::-webkit-input-placeholder {
    text-align: center;
    color: var(--game2-color);
    font-family: StratosSkyeng, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
}
.login-button {
    font-family: StratosSkyeng, Arial, sans-serif;
    font-size: 25px;
    align-items: center;
    border: 2px solid var(--section-background-color);
    border-radius: 10px;
    background: var(--game2-color);
    color: var(--title-color);
    transition: background-color 300ms;
    cursor: pointer;
    animation: slideLeft 500ms 0s 1 backwards;
}
@keyframes slideLeft {
    from {
        margin-left: -750%;
        margin-right: 700%;
    }

    to {
        margin-left: 0;
    }
}
@keyframes pulsarButton {
    0% {
        font-size: 25px;
        border: 2px solid var(--section-background-color);
    }

    100% {
        font-size: 30px;
        border: 4px solid rgb(203, 255, 14);
    }
}
.login-button:hover {
    background: #aa75d6;
    color: #e0e0ce;
}
@media (max-width: 480px) and (orientation: landscape) {
    .title {
        font-weight: 700;
        font-size: 50px;
    }
    .rock-image {
        width: 120px;
    }
    .scissors-image {
        width: 120px;
    }
    .paper-image {
        width: 120px;
    }
}
@media (max-width: 480px) and (orientation: portrait) {
    .title {
        font-weight: 700;
        font-size: 50px;
        display: flex;
        flex-direction: column;
    }
    .rock-image {
        background-image: url('./layout/assets/img/rock.jpg');
        width: 120px;
    }
    .scissors-image {
        background-image: url('./layout/assets/img/scissors.jpg');
        width: 120px;
    }
    .paper-image {
        background-image: url('./layout/assets/img/paper.jpg');
        width: 120px;
    }
}

/***************Экран Error*******************************/
.error-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--game2-background-color);
    width: 100%;
    height: 100vh;
}

.error-rock {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
}

.error-message {
    color: #fff;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
    font-size: 40px;
    text-align: center;
}
