@font-face {
    font-family: StratosSkyeng;
    src: url(./assets/fonts/stratosskyengweb-light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: StratosSkyeng;
    src: url(./assets/fonts/stratosskyengweb-regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: StratosSkyeng;
    src: url(./assets/fonts/stratosskyengweb-bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}

body {
    background-color: #cc7722;
    font-family: StratosSkyeng, 'Helvetica Neue', sans-serif
}
.wrapper {
    background-color: goldenrod;
    height: auto;
    width: 80%;
    position:absolute;
    margin: 0 50px 0 150px;
}
h1 {
    color: #8B00FF;
    text-align: center;
    -webkit-text-stroke: 1px;
    font-family: StratosSkyeng, 'Helvetica Neue', sans-serif
}
.header {
    color:aquamarine;
    width:auto;
    height: 60px;
    text-align: center;
    
}

.columnHeader {
    text-align: center;
}
audio {
    display: none;
}
.yourself {

    width: 50%;
    height: 300px;
    float: left;
    height: auto;
}
.opponents {
    width: 50%;
    display: flex;
    flex-direction: column;
    float: right;
    height: auto;
}
.yourself{
    width: 45%;
    display: flex;
    flex-direction: column;
    float: left;
    height: auto;
    padding: 0 0 0 10px;
}
}
avatar{
    height: 100%;
    width: 30%;
}

.opponent {
    width: 300px;
    height: 300px;
    padding: 0 0 0 20px;
}
.btn {
    position: center;
    padding: 40% 18% 12% 42%;
    -webkit-text-stroke: 1px;
}

button {
    background-color: navy;
    width: 30%;
    height: 60px;
    font-size: 1.5em;
    font-weight: 700;
    padding: 0 0 15px 0;
    margin: 0 0 0 0;
}

.buttonText {

    color: white;

}