<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Game</title>
	<link rel="stylesheet" href="stiles.css">
</head>
<body>
	<section>
		<div class="gamer1">
			<div class="content-wrapper">
				<h2>Петр</h2>
				<div class="choice-wrapper">
					<div class="oblique-cross display-none">&#128942;</div>
					<div class="scissors"></div>
				</div>
			</div>

		</div>

		<div class="gamer2">
			<div class="content-wrapper">
				<h2>Павел</h2>
				<div class="choice-wrapper">
					<div class="oblique-cross display-none">&#128942;</div>
					<div class="paper"></div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
