<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Game</title>
	<link rel="stylesheet" href="stiles.css">
</head>
<body>
	<section>
    <div class="round-number">
      <p class="fadeIn invisible">Раунд 1</p>
    </div>

		<div class="gamer1">
			<div class="content-wrapper">
				<h2>Петр</h2>
				<div class="choice-wrapper">
					<div class="result green-tick display-none">&#10004;</div>
					<div class="scissors"></div>
				</div>
			</div>

		</div>

		<div class="gamer2">
			<div class="content-wrapper">
				<h2>Павел</h2>
				<div class="choice-wrapper">
					<div class="result oblique-cross display-none">&#128942;</div>
					<div class="paper"></div>
				</div>
			</div>
		</div>

    <div class="round-result-field">
      <div class="round-result-wrapper bigEntrance">
        <div class="round-result-window">
          <div class="result-declaration">Ты использовал ножницы. Противник применил против тебя бумагу и проиграл! Еще раунд?</div>
          <div class='btns-block'>
            <button class="ok-button">Ok</button>
            <button class="no-button">No!!!</button>
          </div>
        </div>
        <div class="round-result-frame"></div>
      </div>
    </div>
	</section>
</body>
</html>
