<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="stiles.css">
    <title>Login Screen</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="main">
                <h1 class="title">
                    <span class="rock-text">Камень</span> 
                    <span class="scissors-text">Ножницы</span> 
                    <span class="paper-text">Бумага</span>
                </h1>
                <figure class="title-image">
                    <img src="/layout/assets/img/rock.jpg" class="rock-image">
                    <img src="/layout/assets/img/scissors.jpg" class="scissors-image">
                    <img src="/layout/assets/img/paper.jpg" class="paper-image">
                </figure>
                <figure class="login">
                    <input type="text" class="login login-input" placeholder="Введите свой nickname">
                    <button class="login login-button">Войти</button>
                </figure>
            </div>
        </div>
    </header>
    
    
</body>
</html>