@font-face {
	font-family: StratosSkyeng;
	src: url(./assets/fonts/stratosskyengweb-light.woff2) format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: fallback;
}
@font-face {
	font-family: StratosSkyeng;
	src: url(./assets/fonts/stratosskyengweb-regular.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}
@font-face {
	font-family: StratosSkyeng;
	src: url(./assets/fonts/stratosskyengweb-bold.woff2) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: fallback;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: StratosSkyeng, 'Helvetica Neue', sans-serif;
}

:root {
	--section-background-color: #d5e052;
	--game1-color: #d3e03d;
	--game1-background-color: #69e0db;
	--game2-color: #983de0;
	--game2-background-color: #e07d48;
	--title-color: #fffff0;
}

section {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background-color: var(--section-background-color);
}

h2 {
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 20px;
	text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}

.gamer1,
.gamer2 {
	padding: 15px;
	height: 100vh;
	flex-grow: 1;
}

.content-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.gamer1 {
	margin-right: 10px;
	color: var(--game1-color);
	background-color: var(--game1-background-color);
}

.gamer2 {
	color: var(--game2-color);
	background-color: var(--game2-background-color);
}

.gamer1 .content-wrapper {
	animation-iteration-count: 1;
	animation-duration: 1.5s;
	animation-name: slideRight;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	visibility: visible !important;
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	50% {
		transform: translateX(8%);
	}
	65% {
		transform: translateX(-4%);
	}
	80% {
		transform: translateX(4%);
	}
	95% {
		transform: translateX(-2%);
	}
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}
	50% {
		-webkit-transform: translateX(8%);
	}
	65% {
		-webkit-transform: translateX(-4%);
	}
	80% {
		-webkit-transform: translateX(4%);
	}
	95% {
		-webkit-transform: translateX(-2%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}

.gamer2 .content-wrapper {
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;

	animation-duration: 2s;
	-webkit-animation-duration: 2s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	50% {
		transform: translateX(-8%);
	}
	65% {
		transform: translateX(4%);
	}
	80% {
		transform: translateX(-4%);
	}
	95% {
		transform: translateX(2%);
	}
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}
	50% {
		-webkit-transform: translateX(-8%);
	}
	65% {
		-webkit-transform: translateX(4%);
	}
	80% {
		-webkit-transform: translateX(-4%);
	}
	95% {
		-webkit-transform: translateX(2%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}

.choice-wrapper {
	width: 440px;
	height: 440px;
	padding: 0;
	position: relative;
}

.scissors,
.paper,
.rock,
.oblique-cross {
	width: 440px;
	height: 440px;
	background-size: contain;
	background-repeat: no-repeat;
}

.scissors {
	background-image: url('./assets/img/scissors.jpg');
}

.paper {
	background-image: url('./assets/img/paper.jpg');
}

.rock {
	background-image: url('./assets/img/rock.jpg');
}
@media (max-width: 480px) {
	section {
		flex-direction: column;
	}
	.gamer1,
	.gamer2 {
		width: 100vw;
		height: 50vh;
	}
	.scissors,
	.paper,
	.rock,
	.oblique-cross {
		width: 440px;
		height: 200px;
	}
}
.oblique-cross {
	position: absolute;
	color: #cb2821;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 500px;
	text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
	animation: pulsing 3.5s infinite;
}

@-webkit-keyframes pulsing {
	0% {
		-webkit-transform: scale(0.5, 0.5);
		transform: scale(0.8, 0.9);
	}
	50% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	100% {
		-webkit-transform: scale(0.5, 0.5);
		transform: scale(0.8, 0.9);
	}
}

@keyframes pulsing {
	0% {
		-webkit-transform: scale(0.5, 0.5);
		transform: scale(0.8, 0.9);
	}
	50% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	100% {
		-webkit-transform: scale(0.5, 0.5);
		transform: scale(0.8, 0.9);
	}
}

.display-none {
	display: none;
}

/***************Экран Авторизации*******************************/
.header {
	background: var(--section-background-color);
}
.title {
	font-weight: 700;
	font-size: 50px;
	color: var(--title-color);
	text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
	animation: slideTop 500ms 0s 1 backwards;
}
@keyframes slideTop {
	from {
		margin-top: -50%;
	}

	to {
		margin-top: 0%;
	}
}

.container {
	max-width: 700px;
	height: 100vh;
	margin: 0 auto;
	background: var(--game2-background-color);
}
.main {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
}
.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 300px;
	height: auto;
	min-height: 50px;
}
.login-input {
	margin-bottom: 20px;
	border: 2px solid var(--section-background-color);
	border-radius: 10px;
	background: var(--title-color);
	color: var(--game2-color);
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	cursor: pointer;
}
.login-input:hover {
	background: white;
}
::-webkit-input-placeholder {
	text-align: center;
	color: var(--game2-color);
	font-family: StratosSkyeng, Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
}
.login-button {
	font-family: StratosSkyeng, Arial, sans-serif;
	font-size: 25px;
	align-items: center;
	border: 2px solid var(--section-background-color);
	border-radius: 10px;
	background: var(--game2-color);
	color: var(--title-color);
	transition: background-color 300ms;
	cursor: pointer;
}
.login-button:hover {
	background: #aa75d6;
	color: #e0e0ce;
}
