@font-face {
  font-family: StratosSkyeng;
  src: url(./assets/fonts/stratosskyengweb-light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: StratosSkyeng;
  src: url(./assets/fonts/stratosskyengweb-regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: StratosSkyeng;
  src: url(./assets/fonts/stratosskyengweb-bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
:root {
  --section-background-color: #d5e052;
  --game1-color: #d3e03d;
  --game1-background-color: #69e0db;
  --game2-color: #983de0;
  --game2-background-color: #e07d48;
}

* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p,
span {
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.gamer1,
.gamer2 {
  padding: 15px;
  height: 100vh;
  flex-grow: 1;
}
.gamer1 {
  margin-right: 10px;
  color: var(--game1-color);
}

.gamer2 {
  color: var(--game2-color);
}

body {
  font-family: StratosSkyeng, "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
  position: fixed;
  
  display: flex;
  
  justify-content: center;
  overflow: auto;
  background: sandybrown;
}
.container {
  height: 100%;
  background: #69e0db;
}
.main_header{
  margin-top: 25%;
  margin-left: 25%;
  color: azure;
}
.undercard_text {
  color: chartreuse;
  margin: 20px 0 30px 0;
}
.blink_text {
  display: flex;
  justify-content: center;
  font-size: 25px;
  animation: blink 1.3s infinite;
  color: #d3e03d;
}

.main_opponent_profile-block {
  margin: 70px 10px 20px 10px;
  width: 600px;
  border: 2px solid;
  border-radius: 15px;
  background: antiquewhite;
}
.main_opponent_profile-block-header {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.opponent_profile-avatar {
  max-width: 75px;
  max-height: 75px;
  border-radius: 25px;
}

.opponent_profile-name {
  color: #983de0;
}
.opponent_profile_statistics-block {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.win {
  color: seagreen;
}
.loose {
  color: red;
}
.draw {
  color: yellow;
}
.statistics-header {
  align-self: center;
  margin-bottom: 20px;
  color: #e07d48;
}
.statistic-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bigEntrance {
  animation-name: bigEntrance;
  -webkit-animation-name: bigEntrance;

  animation-duration: 2s;
  -webkit-animation-duration: 2s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  visibility: visible !important;
}
.hidden.hidden{
  display: none;
}

.undercard{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.back_button_box-button{
  color: white;
  height: 50px;
  background: brown;
  border-radius: 40px;
  display: flex;
  align-items: center;
  margin: 50px 0px 00px 10px;
  padding-right: 10px;
}
.lds-hourglass {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 8px;
  box-sizing: border-box;
  border: 15px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.8s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@keyframes bigEntrance {
  0% {
    -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
    opacity: 0.2;
  }
  30% {
    -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
}


